{% extends 'base/base.html' %}
{% block title %}
    Register
{% endblock %}

{% block content %}
<div id="page-container" class="" style="display:">
    {% comment %} {% include "includes/header.html" %} {% endcomment %}
    
    <!-- ========================= SECTION CONTENT ========================= -->
    <section class="section-container bg-silver" style="min-height: 84vh">
        
        <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="container">
			<div class="card mx-auto" style="max-width: 380px; margin-top: 200px;">
            <article class="card-body">
                {% include "accounts/includes/messages.html" %}
                <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
                
                <form action="{% url "register" %}" method="POST">
                    {% csrf_token %}
                    <div class="form-row">
                        <div class="col form-group">
                            <label>First name</label>
                            {{ form.first_name }}
                        </div> <!-- form-group end.// -->
                        <div class="col form-group">
                            <label>Last name</label>
                            {{ form.last_name }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row end.// -->
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Email</label>
                            {{ form.email }}
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                            <label>Phone Number</label>
                            {{ form.phone_number }}
                        </div> <!-- form-group end.// -->
                    </div> <!-- form-row.// -->
                    
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Create password</label>
                            {{ form.password }}
                        </div> <!-- form-group end.// -->
                        <div class="form-group col-md-6">
                            <label>Repeat password</label>
                            {{ form.confirm_password }} 
                        </div> <!-- form-group end.// -->
                    </div>
                </br>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-block">Register</button>
                    </div> <!-- form-group// -->
                    
                    {{ form.email.errors }}
                    {{ form.non_field_errors }}
                </form>
            </article><!-- card-body.// -->
		</div>
        </br>
        <div class="text-center">
            <p>Have an account? <a href="{% url "login" %}">Log In</a></p>
        </div>
        </br>
        <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
        </div> <!-- card .// -->
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
    {% comment %} {% include "includes/footer.html" %} {% endcomment %}
</div>
{% endblock %}